*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 50% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(157,213,196,1) 100%);
}

div{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid green;
    transition: all 0.7s linear ;
    background-color:whitesmoke ;
}

input{
    padding: 5px;
}


